*~
*.bak
.analysis
.base
.cppmt
.tracking
.video
.opencv
.setbb
.opencvbb
.tracking-keyframe
.tracking-no-rotation
.opencv3base
cppmt/build/
*.swp
.abc-extractattention
.abc-classify
.abc-classifysweep
.abc-tdr
.openface

