[submodule "cppmt/CppMT"]
	path = cppmt/CppMT
	url = https://github.com/IDInteraction/CppMT.git
	branch = idi-merged
[submodule "cppmt/CppMT-replay"]
	path = cppmt/CppMT-replay
	url = https://github.com/IDInteraction/CppMT-replay.git
[submodule "analysis/tracking-analysis"]
	path = analysis/tracking-analysis
	url = https://github.com/IDInteraction/tracking-analysis.git
	branch = docker
[submodule "opencv/opencv-detection"]
	path = opencv/opencv-detection
	url = https://github.com/IDInteraction/opencv-detection.git
[submodule "setBB/setBoundingBox"]
	path = setBB/setBoundingBox
	url = git@github.com:IDInteraction/abc-set-bounding-box.git
[submodule "opencvBB/setBoundingBox"]
	path = opencvBB/setBoundingBox
	url = git@github.com:IDInteraction/abc-set-bounding-box.git
